---
import Navigation from "./NavigationMenu";
import ThemeToggle from "./ThemeToggle";
import { Button } from "../ui/button";
import { GithubIcon } from "lucide-react";
import BrandIcon from "./BrandIcon";
---

<header class="mb-8 flex w-full flex-row justify-between">
  <nav class="flex flex-row items-center gap-1">
    <BrandIcon client:load />
    <Navigation client:load />
  </nav>
  <div class="flex flex-row items-center gap-1">
    <a href="https://github.com/haroldbjc/haroldbjc-dev" aria-label="Github">
      <Button variant="ghost" size="icon">
        <GithubIcon className="h-[1.2rem] w-[1.2rem]" />
        <span class="sr-only">Github</span>
      </Button>
    </a>
    <ThemeToggle client:load />
  </div>
</header>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
