---
import ThemeToggle from "./ThemeToggle";
import { Button } from "../ui/button";
import { GithubIcon } from "lucide-react";
import MainNav from "./MainNav";
---

<header
  class="mx-auto flex w-full max-w-4xl flex-row justify-between px-6 py-4"
>
  <MainNav client:only="react" />
  <div class="flex flex-row items-center gap-1">
    <a href="https://github.com/haroldbjc/haroldbjc-dev" aria-label="Github">
      <Button variant="ghost" size="icon">
        <GithubIcon size={18} />
        <span class="sr-only">Github</span>
      </Button>
    </a>
    <ThemeToggle client:only="react" />
  </div>
</header>
