---
import Navigation from "./NavigationMenu";
import ThemeToggle from "./ThemeToggle";
import { Button } from "../ui/button";
import { GithubIcon } from "lucide-react";
import BrandIcon from "./BrandIcon";
---

<header
  class="sticky top-0 z-50 flex w-full flex-row justify-between bg-background px-6 py-4"
>
  <nav class="flex flex-row items-center gap-1">
    <BrandIcon client:load />
    <Navigation client:load />
  </nav>
  <div class="flex flex-row items-center gap-1">
    <a href="https://github.com/haroldbjc/haroldbjc-dev" aria-label="Github">
      <Button variant="ghost" size="icon">
        <GithubIcon size={18} />
        <span class="sr-only">Github</span>
      </Button>
    </a>
    <ThemeToggle client:only />
  </div>
</header>
