---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Button } from "@/components/ui/button";
import { BugIcon } from "lucide-react";

const contacts = [
  {
    name: "eMail",
    url: "mailto:harold.bjc@gmail.com",
  },
  {
    name: "gitHub",
    url: "https://github.com/haroldbjc",
  },
  {
    name: "linkedIn",
    url: "https://www.linkedin.com/in/haroldbong/",
  },
];

const page = {
  title: "Contact",
  meta: {
    description: "Contact page description",
    image: "/public/favicon.svg",
  },
};
---

<Layout page={page}>
  <main>
    <Header />
    <article class="prose max-w-full dark:prose-invert">
      <h1>contact</h1>
      <div class="flex flex-row gap-1">
        {
          contacts.map((contact) => (
            <a href={contact.url}>
              <Button variant="link">
                <BugIcon className="mr-2 h-4 w-4" />
                {contact.name}
              </Button>
            </a>
          ))
        }
      </div>
    </article>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
