---
import { Button } from "@/components/ui/button";
import { BugIcon } from "lucide-react";
import MainLayout from "../layouts/main-layout.astro";

const contacts = [
  {
    name: "eMail",
    url: "mailto:harold.bjc@gmail.com",
  },
  {
    name: "gitHub",
    url: "https://github.com/haroldbjc",
  },
  {
    name: "linkedIn",
    url: "https://www.linkedin.com/in/haroldbong/",
  },
];

const page = {
  title: "Contact",
  description: "Contact page description",
};
---

<MainLayout title={page.title} description={page.description}>
  <article class="prose max-w-full dark:prose-invert">
    <h1>contact</h1>
    <p>you found me!</p>

    <div class="flex flex-row gap-1">
      {
        contacts.map((contact) => (
          <a href={contact.url}>
            <Button variant="link">
              <BugIcon className="mr-2 h-4 w-4" />
              {contact.name}
            </Button>
          </a>
        ))
      }
    </div>
  </article>
</MainLayout>
