---
import Navigation from "./NavigationMenu";
import { ThemeToggle } from "@/components/ThemeToggle";
import { Button } from "./ui/button";
import { GithubIcon } from "lucide-react";
---

<header class="mb-8 flex w-full flex-row justify-between">
  <nav class="flex flex-row items-center gap-1">
    <a
      href="/"
      class="font-italic flex h-full flex-row items-center gap-1 text-sm font-bold"
    >
      <img src="/favicon.svg" alt="logo" class="h-6 w-6" />
       harold
    </a>
    <Navigation client:load />
  </nav>
  <div class="flex flex-row items-center gap-1">
    <a href="https://github.com/haroldbjc" aria-label="Github">
      <Button variant="ghost" size="icon">
        <GithubIcon className="h-[1.2rem] w-[1.2rem]" />
        <span class="sr-only">Github</span>
      </Button>
    </a>
    <ThemeToggle client:load />
  </div>
</header>
