---
import BaseHead from "@/components/layout/base-head.astro";
import ScrollTop from "@/components/layout/ScrollTop";

type Props = {
  title: string;
  description?: string;
  bodyClass?: string;
};

const { title, description, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class={bodyClass}>
    <slot />
    <ScrollTop client:only="react" />
  </body>
</html>
