---
import Header from "@components/layout/Header.astro";

import BaseLayout from "./base-layout.astro";

import { Toaster } from "@/components/ui/toaster";
import { cn } from "@/lib/utils";
type Props = {
  title: string;
  description?: string;
  mainClass?: string;
};

const { title, description, mainClass } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Header />

  <main class={cn(mainClass)}>
    <slot />
  </main>
  <Toaster client:load />
</BaseLayout>

<style>
  main {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
